.biO {
    padding: 0px;
    min-height: 80vh;
}

.biography {
    font-size: 1rem;
    padding-right: 60%; 
    /* fix this so work properly on squished pc using clamp clamp(60px, 230px, 60%)*/
    text-align: justify;
    
}

.columns-container {
    display: flex;
    gap: 20px;
    border: 1px solid green;
}

.left-column-bio,
.right-column-bio {
    flex: 1;
    box-sizing: border-box; 
}

.right-column-bio {
    text-align: right;
}

.left-column-bio {
    border: 1px solid red;
}

.column {
    flex: 1;
}

.column h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #555;
}

.column ul {
    margin-top: 0px;
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
}

.column h3 {
    font-size: 1rem;
    color: #333;
}

.column p {
    font-size: 0.9rem;
    color: #777;
}

/* Media query for small screens */
@media screen and (max-width: 800px) {
    .columns-container {
        flex-direction: column; /* Stack columns vertically */
    }

    .biography {
        padding-right: 0;
    }

    .right-column-bio {
        text-align: center;
    }

    .left-column-bio,
    .right-column-bio,
    .column {
        flex-basis: 100%; 
    }
}