lang-switcher {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--text-color); 
    padding: 0.35rem 0.5rem 0.35rem 0.5rem; /* Adjust padding as needed */
    border-radius: 0.5rem; /* Rounded corners */
    align-items: center;
}

lang-switcher .active {
    display: none;
}

lang-switcher a {
    color: var(--bg-color);
    font-size: 1rem;
    text-decoration: none;
    background-image: linear-gradient(transparent, #807b99b0, transparent);
    font-family: 'Comfortaa';
}
.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    font-size: 2.3rem;
    text-decoration: none;
  }

/* Style for the active language link */
lang-switcher .active {
    display: none; /* Hide the active language link */
}
@media (max-width: 800px) {
    lang-switcher a {
        font-size: 1rem;
        border-radius: 0.6rem; /* Rounded corners */
    }
    .scroll-to-top {
        display: none;
    }
}

