header {
    font-family: "InterVariable";
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1.2rem 2rem 1.2rem 2rem;
}



header.h1 {
    margin-bottom: 0;

}

header.h1 {
    margin-bottom: 0;
    font-size: 1rem;
}

.title-container {
    grid-column: 1;
}

.custom-title {
margin-left: 0.5rem;
}

.nav {
    grid-column: 2;
    justify-self: end;
    margin-left: auto;

}

a { text-decoration: none; color:black; }


@media (max-width: 800px) {
    header { 
        align-items: start;
    }

    .name-title,
    .custom-title {
        margin-left: 0;
        display: block;
        text-align: left;

        }
}