/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.2em 1.2em;
    grid-auto-flow: row;
    grid-template-areas:
        "exhb-hero exhb-hero"
        "exhb-title exhb-medium"
        "exhb-people exhb-body";
}

/* Hero Section */
.exhb-hero {
    grid-area: exhb-hero;
    overflow: hidden;
    max-height: 60vh;
}

.hero-content {
    max-height: 75vh;
}

.featured-image,
.featured-video {
    width: 100%;
    object-fit: cover;
    max-height: 75vh;
}

/* Title Section */
.exhb-title {
    grid-area: exhb-title;
    justify-self: end;
    text-align: right;
    margin-left: 10em;
}

.exhb-title h1 {
    margin-top: 0;
    white-space: wrap;
    hyphens: auto;
}

/* Medium Section */
.exhb-medium {
    grid-area: exhb-medium;
    justify-self: start;
    text-align: left;
    margin-right: 10em;
}

/* People Section */
.exhb-people {
    grid-area: exhb-people;
    justify-self: end;
    text-align: right;
    margin-left: 10em;
}

/* Body Section */
.exhb-body {
    grid-area: exhb-body;
    max-width: 75em;
    margin-right: 10em;
}

.exhb-text {
    grid-area: exhb-body;
    justify-self: start;
    column-count: 2;
    gap: 1.2em;
    text-align: justify;
    margin-bottom: 1.2em;
}

/* Gallery Grid */
.masonry-grid {
    column-count: 3;
    margin-bottom: 2.3em;
}

.gallery-image {
    width: 100%;
    height: auto;
    break-inside: avoid;
    margin-bottom: 0.55em;
}

/* Date and Place */
.placedate p {
    margin: 0;
}

.exhb-text p {
    break-inside: avoid;
    orphans: 2;
    widows: 2;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    /* Container Layout for Small Screens */
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "exhb-hero"
            "exhb-title"
            "exhb-body";
        margin: 0;
    }

    /* Title Section */
    .exhb-title {
        justify-self: center;
        text-align: center;
        margin: 0 1.6em;
    }

    /* Hero Section */
    .exhb-hero {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .exhb-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Medium and People Sections */
    .exhb-medium,
    .exhb-people {
        display: none;
    }

    /* Body Section */
    .exhb-body {
        justify-self: center;
        max-width: 100%;
        margin: 0 1.6em;
    }

    .exhb-text {
        column-count: 1;
        max-width: 100%;
    }

    /* Gallery Grid */
    .masonry-grid {
        column-count: 1;
    }
}
