/* COLOR SCHEMES */
:root {
    /* Titanstone Palette */
    --text-color: #0a0a0a;
    --bg-color: #ffffff;
    --hligh-color: #ffa6dd  ;
}
/* BODY */
body {
    font-family: "InterVariable";    
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    hyphens: auto;
    line-height: 1.2;
    letter-spacing: 0.02rem;
}

/* TYPOGRAPHY */
h1 {
    font-size: 1.476rem;
    margin: 0;
}

h2 {
    font-size: 1.383rem;
    margin:0. 0 0.5rem 0;
}

h3 {
    font-size: 1.296rem;
    margin: 0 0 0.5rem 0;
}

p {
    font-size: 1rem;
    hyphens: auto;
    margin: 0 0 0.5rem 0;
}



.FourOhFourCentered {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: auto;
    height:50%;
}
