.bio-container {
  margin: 0 2rem 1.2rem 2rem;

}
  .bio-column-container {
    display: flex;
    flex-grow: 1;
  }
    .left-column-bio + .right-column-bio {
      margin-left: auto;
    }
    .left-column-bio {
      flex: 0.5;
      display: flex;
      flex-direction: column;
    }
      .spinner {
        min-width: 5rem;
        max-width: 18rem;
        height: auto;
        transition: transform 0.5s cubic-bezier(0.645, -0.220, 0.740, 1.185);
      }
      .bio-text {
        flex: 1;
        min-width: 5em; /* Set minimum width */
        max-width: 18.5rem; 
        text-align: justify;
        hyphens: auto;
        margin: 0;

      }

    .right-column-bio {
       display: flex;
       flex: 1;
       flex-direction: column;
       margin-bottom: 0;  
     }
        .right-column-container {
          display: flex;
          flex: 1;
          /* This controls the column gap */
          text-align: right;
          hyphens: auto;
        }
          .column {
            flex: 1;
            margin: 0;
            flex-wrap: wrap;
            hyphens: auto;
            padding-left: 3rem;
          }
          .column ul {
            list-style: none;
            margin: 0 0 0 0;
            padding: 0;
            
          }
          .column h1 {
            letter-spacing: 0.08rem;
            margin: 0 0 0.3rem 0;

          }
          .column h2 {
          /* exhibition and publication names*/
          margin: 0.8rem 0 0 0;
          }
          .column h3 {
            /* YEARS */
            margin: 1rem 0 0 0;

          }
          .column h4 {
            margin: 0.23rem 0 0 0;

          }
         
        .column h3 {
          /* YEARS */
          /* font-size: 1.23rem; */
        }
          .column a {
            color: var(--text-color);
            text-decoration: none;
          }
          @media (max-width: 767px) {
            .bio-column-container {
              flex-direction: column;
              gap: 0;
              text-align: justify;
            }
            .right-column-container,
            .left-column-bio,
            .right-column-bio {
              flex: 1;
              flex-direction: column;
            }
          
            .column {
              text-align: center;
            }
          
            .bio-text,
            .spinner {
              min-width: unset;
              max-width: unset;
            }

            .column h1, h2, h3, ul {
              text-align: left;
              padding: 0;
            }
            .column h1 {
              margin: 2rem 0 0.5rem 0;
            }

            .column h2 {
              margin: 1rem 0 0.5rem 0;
            }
            .column p {
              margin: 0;
            }

          }