footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    padding: 20px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    margin-left: 10px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    footer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center; /* Center text in the footer */
    }

    .footer-right {
        margin-top: 5px; /* Add some space between the left and right parts on smaller screens */
        margin-bottom: 15px;
    }
}
