header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    align-items: center;
    margin: 1.2rem
}

.title-container {
    grid-column: 1;
}

.custom-title {
    margin-left: 0.5rem;
}

.nav {
    grid-column: 2;
    justify-self: end;
    margin-left: auto;
}

a { text-decoration: none; color:black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

@media (max-width: 800px) {
    header { 
        align-items: start;
    }

    .custom-title {
        margin-left: 0;
        display: block;
        }
}