header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 2rem 1.5rem 2rem;
}

header.h1 {
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.title-container {
    grid-column: 1;
}

.custom-title {
    margin-left: 0.5rem;
}

.nav {
    grid-column: 2;
    justify-self: end;
    margin-left: auto;
}

header a {
    text-decoration: none;  
}

@media (max-width: 800px) {
header {
    margin: 1.2rem 2rem 1rem 2rem;
}
    .name-title,
    .custom-title {
        margin-left: 0;
        display: block;
        text-align: left;
        font-size: 1.2rem;

        }
    .nav h1,
    .title-container h1 {
        margin: 0 0 0 0;
        text-align: right;
        font-size: 1.2rem;
    }

}