header {
    font-family: 'Robo Flex', sans-serif;
    font-size: 1.2em;
    color: #222323;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.name-title {
    margin-right: 10px;
    padding-top: 0;
}

.custom-title {
}

.right-links {
    display: flex;
}

.right-links a {
    margin-left: 10px;
}

/* Ensure right-links are pushed to the right */
.right-links {
    margin-left: auto;
}


@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: center;
    }

    .name-title,
    .custom-title,
    .right-links a {
        font-size: 1.2em;
        padding: 0;   

    }
    .name-title {
        margin-right: 0;
    }
    .right-links {
        width: 100%; 
        justify-content: center;
    } 
    .right-links a:first-child {
        margin-left: 0;
    }

}