/* HERO STYLING */
.hero-container {
    overflow: hidden;
}
    .featured-image {
        width: 100%;
        max-height: 58vh;
        object-fit: cover;
    }

    .featured-video {
        min-width: 100%;
        max-height: 58vh;
        object-fit:cover; 
    }

/* BODY STRUCTURE */
.project-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

    .left-column,
    .right-column {
        flex: 1;
    }

    .left-column {
        flex: 0.36;
        text-align: right;    
    }

/* Text Columns */
.body-columns {
    columns: 2;
    column-gap: 1.2rem;

    text-align: justify;
}


.body-columns p {

}

/* Masonry Grid Gallery */
.masonry-grid {
    column-count: 3;
    column-gap: 20px;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    break-inside: avoid-column;
    max-width: 100%;
}
/* Media Query for Phones */
@media only screen and (max-width: 600px) {
    .project-columns {
        display: grid;
        grid-template-columns: 1;
        margin: 2rem;
    }

    h1 {
        text-align: center;
    }
    .place-curator {
        text-align: center;
        margin-bottom: 5rem;
    }

    .medium-text {
        text-align: left;
        margin-bottom: 1rem;
    }

    .body-columns {
        columns: 1;
    }

}