/* HERO STYLING */
.hero-container {
    overflow: hidden;
}
    .featured-image {
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
    }

    .featured-video {
        min-width: 100%;
        max-height: 60vh;
        object-fit: cover; 
    }

/* BODY STRUCTURE */
.project-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.2rem 2rem 1.2rem 2rem;
}

    .left-column,
    .right-column {
        flex: 1;
                
    }

    .left-column {
        flex: 0.36;
        align-items: start;
        text-align: right;
        margin-right: 1.2rem;
        padding-left: 12rem;
        text-wrap: wrap;
        text-wrap: pretty;
    }

    .left-column h1 {
        margin-top: 0;
    }

.medium-text {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.medium-text p {
    line-height: 0px;
}

.people {
    margin-block-start: 3rem;
}

.body-columns {
    columns: 2;
    column-gap: 1.2rem;
    text-align: justify;
    margin-bottom: 1.2rem;
}

.masonry-grid {
    column-count: 3;
    column-gap: 20px;
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    break-inside: avoid-column;
    max-width: 100%;
}


@media only screen and (max-width: 600px) {
    .project-columns {
        display: block;
        margin: 1.2rem 2rem 1.2rem 2rem;
    }

    .body-columns {
        column-count: 1;
    }

    .left-column {
        flex: 1;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .placedate,
    h1 {
        text-align: center;
        margin-top: 1.2rem;
    }

    .placedate {
        margin-top: 0.5rem;
        margin-bottom: 5rem;
    }

    .people,
    .medium-text {
        text-align: left;
    }

    .masonry-grid {
        columns: 1;
    }

            .featured-image {
                width: auto;
                max-height: 50vh;
                object-fit:cover;
                display: block;
                margin: 0 auto; /* Center horizontally */
            }

            .featured-video {
                width: 100%;
                height: 80vh;
                object-fit: cover;
                display: block;
                margin: auto;
                position: relative;
            }
            
    .featured-video {

    }
    

}