/* HERO STYLING */
.hero-container {
    overflow: hidden;
}
.featured-image, .featured-video {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

/* Layout Structure */
.main-info, .content-section {
    margin: 1.2rem 2rem;
}

/* Main Info Styling */
.main-info .left-column {
    text-align: center;
    margin: 1rem 0;
}

.main-info h1 {
    margin-top: 0;
    white-space: nowrap;
}

.placedate p {
    margin: 0;
}

.medium-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
}

/* Content Section */
.people {
    margin: 2rem 0;
}

.body-columns {
    columns: 2;
    column-gap: 1.2rem;
    text-align: justify;
}

.masonry-grid {
    column-count: 3;
    column-gap: 20px;
}

.gallery-image {
    width: 100%;
    height: auto;
    break-inside: avoid;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .hero-container, .main-info, .content-section {
        display: block;
        margin: 1.2rem;
    }

    .body-columns {
        column-count: 1;
    }

    .masonry-grid {
        columns: 1;
    }

    .featured-image {
        width: auto;
        max-height: 31rem;
        object-fit: cover;
        margin: 0 auto;
    }
}
