/* COLOR SCHEMES */
:root {
    /* Titanstone Palette */
    --text-color: #222323;
    --bg-color: rgb(245, 245, 245);
    --hligh-color: #ffa6dd;
    
}
/* BODY */
body {
    font-family: "InterVariable";  
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    hyphens: auto;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    /* filter: blur(23px); 
    transition: filter 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);  */
}



/* 
.noise {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 0.2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: 1000;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-0.05%,-0.05%) }
    20% { transform: translate(-0.10%,0.05%) }
    30% { transform: translate(0.05%,-0.10%) }
    40% { transform: translate(-0.05%,0.15%) }
    50% { transform: translate(-0.10%,0.05%) }
    60% { transform: translate(0.15%,0) }
    70% { transform: translate(0,0.10%) }
    80% { transform: translate(-0.15%,0) }
    90% { transform: translate(0.10%,0.05%) }
    100% { transform: translate(0.05%,0) }
} */

/* TYPOGRAPHY */
h1 {
    font-size: 1.476rem;
    margin: 0;
}

h2 {
    font-size: 1.383rem;
    margin:0. 0 0.5rem 0;
}

h3 {
    font-size: 1.296rem;
    margin: 0 0 0.5rem 0;
}

p {
    font-size: 1rem;
    hyphens: auto;
    margin: 0 0 0.5rem 0;
}
/* LINKS */
a {
    text-decoration: none;
    color: var(--text-color);
}



/* LANDER */
.video-container {
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    max-height: 80vh;
    object-fit:cover; 
}
/* MISC PAGES */
.FourOhFourCentered {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: auto;
    height:50%;
}
