@font-face {
    font-family: "Robo Flex";
    src: url('/fonts/RobotoFlex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*** PAGE STYLE ***/
body {
    background-color: #f0f6f0;
    color: #222323;
    padding: 0px;
}

a {
    color:purple;
    text-decoration: wavy;
}

.FourOhFourCentered {
    text-align: center;
}