/* COLOR SCHEMES */
:root {
    /* Titanstone Palette */
    --text-color: #323333;
    --bg-color: rgb(245, 245, 245);
    --primary-color: #ffa6dd;
    
}
/* BODY */
body {
    font-family: "InterVariable";  
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    hyphens: auto;
    line-height: 1.2;
    letter-spacing: 0.02rem;
}

/* TYPOGRAPHY */
h1 {
    font-size: 1.476rem;
    margin: 0;
}

h2 {
    font-size: 1.383rem;
    margin:0. 0 0.5rem 0;
}

h3 {
    font-size: 1.296rem;
    margin: 0 0 0.5rem 0;
}

p {
    font-size: 1rem;
    hyphens: auto;
    margin: 0 0 0.5rem 0;
}
/* LINKS */
a {
    /* text-decoration: none; */
    color: var(--text-color);
}
/* Hover */

a:hover {
    filter: blur(5px);
  }



/* LANDER */
.video-container {
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    max-height: 80vh;
    object-fit:cover; 
}
/* MISC PAGES */
.FourOhFourCentered {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: auto;
    height:50%;
}
