/*** WORK IMAGE GRID STYLING ***/
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 1rem;
    padding: 0 20px; /* Add padding on the left and right */
}

.list-item img {
    width: 100%;
    max-height: 20rem; 
    object-fit: cover;
}

.list-item .custom-title {
    font-size: larger;
    font-weight: bold;
    font-size: 1em;
}

.front-matter-description {
    text-align: justify;
    font-size: 0.9em;
    color: grey;
}

.image-grid h2, p {
    margin: 0;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr; /* One column for small screens */
    }

    .list-item img {
        height: auto; /* Adjust height as needed for responsiveness */
    }
}
