<!DOCTYPE html>
<html lang="{{- .Site.Language.Lang -}}">

{{- partial "meta.html" . -}}
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
</body>
{{- partial "footer.html" . -}}
    <div class="bg"></div>

    <script>
        let timeout;
    
        function resetTimer() {
            clearTimeout(timeout);
            document.body.classList.remove('inactive');
            timeout = setTimeout(() => {
                document.body.classList.add('inactive');
            }, 120000); // 2 minutes in milliseconds
        }
    
        document.addEventListener('mousemove', resetTimer);
        document.addEventListener('keydown', resetTimer);
        document.addEventListener('scroll', resetTimer);
        document.addEventListener('click', resetTimer);
    
        resetTimer(); // initialize timer on page load
    </script>
    
</html>
