{{ define "main" }}
    <div class="grid-container">
        {{ range .Pages }}
            <div class="grid-card">
                <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}" class="card-image">
                <div class="card-content">
                    <a href="{{ .Permalink }}">
                        <h2 class="card-title">{{ .Params.customTitle }}</h2>
                        <!-- <p class="card-description">{{ .Params.placedate }}</p> -->
                    </a>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
