{{ define "main" }}

<!-- Artwork Structured Data -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "VisualArtwork",
    "name": "{{ .Title }}",
    "url": "{{ .Site.BaseURL }}/bio",
    "description": "{{ .Site.Params.description }}",
    "dateCreated": "{{ dateFormat "2006-01-02" .Date }}",
    "image": "{{ with .Params.featureImage }}{{ . | absURL }}{{ end }}"
}
</script>

  <!-- HERO -->
  <div class="hero-container">
  {{ with index .Params.featuredVideo 0 }}
    <video autoplay muted loop class="featured-video">
      <source src="{{ . }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {{ else }}
    <!-- If it's not a video, assume it's an image -->
    {{ with .Params.featuredImage }}
      <img src="{{ . }}" alt="art by nikola stoyanov" class="featured-image">
    {{ end }}
  {{ end }}
  </div>

  <!-- Two columns layout -->
  <div class="project-columns">
    <!-- Left column with title and sections -->
    <div class="left-column">
      <!-- Header with the title -->
      <h1>{{ .Title }}</h1>

      <div class="placedate">        
        {{ with .Params.placedate }}
        <p>{{ . }}</p>
      {{ end }}
      </div>

      <!-- Three sections in grey below the title -->
      <div class="people">
        {{ with .Params.curator }}
          <p>curated by: <br>{{ . }}</p>
        {{ end }}
        
        <!-- Collaborators section -->
        <div class="collaborators">
          {{ with .Params.collaborators }}
            <p>
              in collaboration with: <br>
              {{ $collaborators := split . "," }}
              {{ range $collaborators }}
                {{ . }}<br>
              {{ end }}
            </p>
          {{ end }}
        </div>
      </div>      
    </div>

    <!-- Right column with "Medium" and other content -->
    <div class="right-column">
      <!-- Medium information on the left -->
      {{ with .Params.medium }}
        <p class="medium-text">
          {{ range . }}
            {{ . }}<br>
          {{ end }}
        </p>
      {{ end }}

      <!-- Body text in columns -->
      <div class="body-columns">
        {{ .Content }}
      </div>
      
<!-- Masonry Grid Gallery of Images -->
<div class="masonry-grid">
  {{ range $index, $image := .Params.galleryImages }}
    {{ $title := index $.Params.imgNames $index }}
    {{ $description := index $.Params.imgDescrps $index }}
    <a class="spotlight" href="{{ $image }}" data-description="{{ $description }}" alt="{{ $description }}">
      <img src="{{ $image }}" title="{{ $title }}" alt="{{ $title }}" class="gallery-image" loading="lazy">
    </a>
  {{ end }}
</div>

<link rel="stylesheet" href="/css/spotlight.min.css">
<script src="/js/spotlight.min.js">
</script>
  
{{ end }}
