{{ define "main" }}

<!-- Article Structured Data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ExhibitionEvent",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "startDate": "{{ .Params.datestart }}",
    "endDate": "{{ .Params.dateend }}",
    "location": {
      "@type": "Place",
      "name": "{{ .Params.place }}",
      "address": "{{ .Params.location }}"
    },
    "organizer": {
      "@type": "Person",
      "name": "{{ .Site.Language.Params.name }}",
      "alternateName": "{{ .Site.Language.Params.alternateName }}",
      "jobTitle": "{{ .Site.Language.Params.jobTitle }}",
      "description": "{{ .Site.Language.Params.description }}",
      "url": "{{ .Site.Params.organizerUrl }}",
      "image": "{{ .Site.Params.profileImage | absURL }}",
      "sameAs": [
        {{ range $index, $url := .Site.Params.sameAs }}
          {{ if $index }},{{ end }}"{{ $url }}"
        {{ end }}
      ]
    },
    "performer": [
      {
        "@type": "Person",
        "name": "{{ .Site.Language.Params.name }}",
        "url": "{{ .Site.Params.performerUrl }}"
      }
    ],
    "keywords": [
      {{ range $index, $keyword := .Params.keywords }}
        {{ if $index }},{{ end }}"{{ $keyword }}"
      {{ end }}
    ],
    "image": [
      {{ range $index, $image := .Resources.ByType "image" }}
        {{ if $index }},{{ end }}"{{ $image.RelPermalink }}"
      {{ end }}
    ],
    "subjectOf": [
      {{ range $index, $press := .Params.press }}
        {{ if $index }},{{ end }}{
          "@type": "NewsArticle",
          "headline": "{{ $press.name }}",
          "url": "{{ $press.url }}"
        }
      {{ end }}
    ]
  }
</script>



 

<div class="container">
  <div class="exhb-hero" id="hero-content">
          <!-- Hero content will be dynamically inserted here -->
  </div>
    <script>
      // Function to detect if the user is on a mobile device
      function isMobileDevice() {
          return /Mobi|Android/i.test(navigator.userAgent);
      }
    
      // Function to check if video is supported
      function isVideoSupported() {
          var videoElement = document.createElement('video');
          return !!videoElement.canPlayType;
      }
    
      // Function to dynamically insert the appropriate hero content
      function insertHeroContent() {
          var heroContentDiv = document.getElementById('hero-content');
    
          // Get the base URL of the page bundle
          var baseURL = "{{ .Page.RelPermalink }}";
    
          // Function to normalize the URL
          function normalizeURL(url) {
              var parts = url.split('/');
              if (parts[1] === 'bg') {
                  parts.splice(1, 1); // Remove the 'bg' part
              }
              return parts.join('/');
          }
    
          // Normalize the baseURL
          baseURL = normalizeURL(baseURL);
    
          // Check if user is on a mobile device
          if (isMobileDevice()) {
              // Insert the hero image for mobile
              heroContentDiv.innerHTML = '<img src="' + baseURL + '/hero.webp" alt="Hero Image" class="featured-image">';
          } else {
              // Check if video is supported
              if (isVideoSupported()) {
                  // Insert the hero video
                  heroContentDiv.innerHTML = '<video autoplay muted loop class="featured-video" poster="' + baseURL + '/hero.webp">' +
                      '<source src="' + baseURL + '/hero.webm" type="video/webm">' +
                      '</video>';
              } else {
                  // Insert the hero image for non-mobile devices that don't support video
                  heroContentDiv.innerHTML = '<img src="' + baseURL + '/hero.webp" alt="Hero Image" class="featured-image">';
              }
          }
      }
      // Call the function to insert hero content when the page loads
      window.onload = insertHeroContent;
    </script>

    <div class="exhb-title">
      <h1>{{ .Title }}</h1>

      <div class="placedate">
        
        {{- $place := .Params.place -}}
        {{- $location := .Params.location -}}
        
        {{- if and $place $location -}}
          <p>{{ $place }}, {{ $location }}</p>
        {{- else if $place -}}
          <p>{{ $place }}</p>
        {{- else if $location -}}
          <p>{{ $location }}</p>
        {{- end -}}
        
    
        {{ if .Params.datestart }}
          {{ $startDate := .Params.datestart }}
          {{ $endDate := .Params.dateend }}
    
          {{ $startParts := split $startDate "." }}
          {{ $endParts := split $endDate "." }}
          
          {{ $startDay := index $startParts 0 }}
          {{ $startMonth := index $startParts 1 }}
          {{ $startYear := index $startParts 2 }}
          
          {{ $endDay := index $endParts 0 }}
          {{ $endMonth := index $endParts 1 }}
          {{ $endYear := index $endParts 2 }}
    
          <p>
            {{ if ne $startDay $endDay }}{{ $startDay }}{{ end }}{{ if ne $startMonth $endMonth }}.{{ $startMonth }}{{ end }}{{ if ne $startYear $endYear }}.{{ $startYear }}{{ end }}
            
            {{ if ne $startDate $endDate }}-{{ $endDay }}.{{ $endMonth }}.{{ $endYear }}{{ else }}{{ $endDay }}.{{ $endMonth }}.{{ $endYear }}{{ end }}
          </p>
        {{ end }}
      </div>
    </div>
    
    
    
    
    <div class="exhb-medium">
      {{ with .Params.medium }}
      <p class="medium-text">
        {{ range . }}
          {{ . }}
            <br>
          {{ end }}
            </p>
        {{ end }}
    </div>

    <div class="exhb-people">
      <div class="people">
        <div class="collaborators">
          {{ with .Params.collaborators }}
            <p>
              {{ i18n "Collaborators" }}<br>
              {{ range . }}
                {{ . }}<br>
              {{ end }}
            </p>
          {{ end }}
        </div>    
        
        {{ with .Params.curator }}
        <p>{{ i18n "Curator" }}<br>
          {{ range . }}
          {{ . }}<br>
        {{ end }}
        </p>
        {{ end }}

      {{ with .Params.sound }}
      <p>
        {{ i18n "Sound" }}<br>
        {{ range . }}
        {{ . }}<br>
      {{ end }}
      </p>
      {{ end }}
      {{ with .Params.photo }}
      <p>{{ i18n "Photo" }}<br>
        {{ range . }}
        {{ . }}<br>
      {{ end }}
      </p>
      {{ end }}
    </div>   
    </div>

    <div class="exhb-body">
      <div class="exhb-text">{{ .Content }}</div>

      <div class="masonry-grid">
        {{ $resources := .Resources.Match "*.*" }}
        {{ range $index, $resource := $resources }}
          {{ $title := index $.Params.imgNames $index }}
          {{ $description := index $.Params.imgDescrps $index }}
      
          {{ if in $resource.MediaType.Type "image" }}
            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "ImageObject",
                "url": "{{ $resource.Permalink }}",
                "contentUrl": "{{ $resource.RelPermalink }}",
                "description": "{{ $description }}",
                "name": "{{ $title }}"      
              }
            </script>
      
            {{ if ne $resource.Name "hero.webp" }}
              {{ $downsampledImg := $resource.Resize "420x" }}
              <a class="spotlight" href="{{ $resource.Permalink }}" data-description="{{ $description }}" alt="{{ $title }}">
                <img src="{{ $downsampledImg.RelPermalink }}" title="{{ $description }}" alt="{{ $title }}" class="gallery-image" loading="lazy">
              </a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>


<a href="#" class="scroll-to-top">↑</a>

<link rel="stylesheet" href="/css/spotlight.min.css">
<script src="/js/spotlight.min.js">
</script>
  
{{ end }}