{{ define "main" }}

<!-- Article Structured Data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "description": "{{ .Description }}",
    "datePublished": "{{ dateFormat "2006-01-02" .Date }}",
   
    "image": [
      {{ range .Resources.ByType "image" }}
      "{{ .RelPermalink }}",
      {{ end }}
      "license": "newdegeneration.xyz/tech-spec/tech-spec",
      "acquireLicensePage": "newdegeneration.xyz/tech-spec/tech-spec",
      "creditText": "{{ $.Site.Title }}",
      "creator": {
        "@type": "Person",
        "name": "{{ .Site.Title }}"
      },

    ],
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}/bio"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}/images/spinner.webp"
      }
    }
  }
</script>



  <!-- HERO -->
  <div class="hero-container">
    {{ with .Resources.GetMatch "hero.webm" }}
      {{ $poster := $.Resources.GetMatch "hero.webp" | default "" | absURL }}
      <video autoplay="true" muted="true" loop="true" class="featured-video" poster="{{ $poster }}">
        <source src="{{ . }}" type="video/webm">
      </video>
    {{ else }}
      <!-- If it's not a video, assume it's an image -->
      {{ with .Resources.GetMatch "hero.webp" }}
        {{ $resizedHero := .Fit "1390x420" }}
        {{ with $.Page.Params.description }}
          <img src="{{ $resizedHero.RelPermalink }}" alt="{{ . | safeHTML }}" class="featured-image">
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  
  

  <!-- Two columns layout -->
  <div class="project-columns">
    <!-- Left column with title and sections -->
    <div class="left-column">
      <!-- Header with the title -->
      <h1>{{ .Title }}</h1>

      <div class="placedate">        
        {{ with .Params.placedate }}
        <p>{{ . }}</p>
      {{ end }}
      </div>

      <!-- Three sections in grey below the title -->     
        <div class="people">
          <div class="collaborators">
            {{ with .Params.collaborators }}
              <p>
                {{ i18n "Collaborators" }}<br>
                {{ range . }}
                  {{ . }}<br>
                {{ end }}
              </p>
            {{ end }}
          </div>    
          
          {{ with .Params.curator }}
          <p>{{ i18n "Curator" }}<br>
            {{ range . }}
            {{ . }}<br>
          {{ end }}
          </p>
          {{ end }}

        {{ with .Params.sound }}
        <p>
          {{ i18n "Sound" }}<br>
          {{ range . }}
          {{ . }}<br>
        {{ end }}
        </p>
        {{ end }}
        {{ with .Params.photo }}
        <p>{{ i18n "Photo" }}<br>
          {{ range . }}
          {{ . }}<br>
        {{ end }}
        </p>
        {{ end }}
      </div>      
    </div>
    
    <!-- Right column with "Medium" and other content -->
    <div class="right-column">
      <!-- Medium information on the left -->
      {{ with .Params.medium }}
        <p class="medium-text">
          {{ range . }}
            {{ . }}<br>
          {{ end }}
        </p>
      {{ end }}

      <!-- Body text in columns -->
      <div class="body-columns">
        {{ .Content }}
      </div>
      
<!-- Masonry Grid Gallery of Images -->
<div class="masonry-grid">
  {{ $images := .Resources.ByType "image" }}
  {{ range $index, $image := $images }}
    {{ $title := index $.Params.imgNames $index }}
    {{ $description := index $.Params.imgDescrps $index }}
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ImageObject",
        "url": "{{ $image.Permalink }}",
        "contentUrl": "{{ $image.RelPermalink }}",
        "description": "{{ $description }}",
        "name": "{{ $title }}"      
      }
    </script>

    {{ if ne $image.Name "hero.webp" }}
      {{ $downsampledImg := $image.Resize "420x" }}
      <a class="spotlight" href="{{ $image.Permalink }}" data-description="{{ $description }}" alt="{{ $title }}">
        <img src="{{ $downsampledImg.RelPermalink }}" title="{{ $description }}" alt="{{ $title }}" class="gallery-image" loading="lazy">
      </a>
    {{ end }}
  {{ end }}
</div>

<a href="#" class="scroll-to-top">↑</a>

<link rel="stylesheet" href="/css/spotlight.min.css">
<script src="/js/spotlight.min.js">
</script>
  
{{ end }}