{{ define "main" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "mainEntity": {
    "@type": "Person",
    "name": "Nikola Stoyanov",
    "url": "{{ .Permalink }}",
    "description": "{{ .Params.description }}", 
    "image": "{{ with .Params.profileImage }}{{ . | absURL }}{{ end }}", 
    "jobTitle": "Visual artist and philosopher",
    "sameAs": ["https://www.facebook.com/av0id.nd/", "https://www.instagram.com/avoid.nd/", "https://www.linkedin.com/in/nstoyanov23/", "https://twitter.com/new_degen", "https://www.youtube.com/@newdegeneration", "https://www.wikidata.org/wiki/Q124417026", "https://www.goodreads.com/author/show/48653203._", "https://www.imdb.com/name/nm16814810"]
  }
}
</script>

<div class="bio-container">
  <div class="bio-column-container">
    <div class="left-column-bio">
      <img src="/images/spinner.webp" class="spinner" alt="Nikola Stoyanov"> 
      <div class="bio-text">
        {{ with .Site.GetPage "section" "bio" }}
          <h4>{{ .Content }}</h4>
        {{ end }}
      </div>
    </div>

    <div class="right-column-bio">
      <div class="right-column-container">

        <div class="column">
          <h2>{{ T "Exhibitions" }}</h2>
          <ul>
            {{ range where .Site.RegularPages "Params.categories" "intersect" (slice "solo") }}
              {{ $page := . }}
              {{ with $page.Params.date }}
                {{ $year := dateFormat "2006" . }}
                <li>
                  <h3>
                    {{ with $page.Params.Title }}
                      <a href="{{ $page.Permalink }}">{{ $year }} - {{ . }}</a>
                    {{ end }}
                  </h3>
                </li>
              {{ end }}
            {{ end }}
          </ul>

          <h2>{{ T "Collaborations" }}</h2>
          <ul>
            {{ range where .Site.RegularPages "Params.categories" "intersect" (slice "collab" "noshow") }}
              {{ $page := . }}
              {{ with $page.Params.date }}
                {{ $year := dateFormat "2006" . }}
                <li>
                  <h3>
                    {{ with $page.Params.Title }}
                      {{ if eq $page.Params.noshow true }}
                        {{ $year }} - {{ . }}
                      {{ else }}
                        <a href="{{ $page.Permalink }}" alt="{{ $page.Title }}">{{ $year }} - {{ . }}</a>
                      {{ end }}
                    {{ end }}
                  </h3>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>

      <!-- Third column publications and talks -->
<div class="column">
    <h2>{{ T "PubLect" }}</h2>
    {{ $pubList := .Site.Data.publist }}
    {{ $years := slice }} <!-- Initialize a slice to hold unique years -->
    {{ range $pubList }}
      {{ $year := .year }}
      {{ if and $year (not (in $years $year)) }}
        {{ $years = $years | append $year }} <!-- Add the year to the list of unique years -->
        <div class="publect">
          <ul>
            {{ range where $pubList "year" $year }}
              <li>
                {{ $nameEn := .nameen }}
                {{ $nameBg := .namebg }}
                {{ $link := .link }}
                {{ $descriptionEn := .descriptionen }}
                {{ $descriptionBg := .descriptionbg }}
                
                <h3>
                  {{ if ne $link "" }}
                    <a href="{{ $link }}">
                  {{ end }}
              <span class="year">{{ $year }}</span> - <!-- Add the year here -->
                  {{ if and $nameEn $nameBg }}
                    {{ if eq $.Site.Language.Lang "bg" }}{{ $nameBg }}{{ else }}{{ $nameEn }}{{ end }}
                  {{ else if $nameEn }}
                    {{ $nameEn }}
                  {{ else if $nameBg }}
                    {{ $nameBg }}
                  {{ end }}
                  {{ if ne $link "" }}
                    </a>
                  {{ end }}
                </h3>
                
               
                {{ if ne $descriptionEn "" }}
                  <p>{{ if eq $.Site.Language.Lang "bg" }}{{ $descriptionBg }}{{ else }}{{ $descriptionEn }}{{ end }}</p>
                {{ end }}
                
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    {{ end }}
  </div>
  </div>
  </div>
  </div>
  
  <script src="/js/spinner.js"></script>
</div>
{{ end }}
