<header>
    <div class="title-container">
        <h1>
            <a class="name-title" href="{{ "/" | relURL }}">Nikola Stoyanov
            </a>   

            <span class="custom-title">
                {{ if .IsHome }}
                    <!-- No title for the homepage -->
                {{ else if .IsPage }}
                    {{ .Title }} {{ dateFormat "(2006)" .Date }}
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </span>
            
    </h1>
    </div>  

    <div class="nav">
        <h1>
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" alt="{{ .Name }}">{{ .Name }}</a>
            {{ end }}
        </h1>
    </div>
</header>
