<header>
    <div class="title-container">
        <h1>
            <a class="name-title" href="{{ "/" | relURL }}">Nikola Stoyanov
            </a>
            <div id="container">
                <span id="text1"></span>
                <span id="text2"></span>
            </div>        
            {{ with .Params.customTitle }}
            <span class="custom-title">
                {{ . }}
            </span>
        {{ end }}
    </h1>

    </div>
    <div class="nav">
        <h1>
            <a href="/work">work</a>
            <a href="/bio">bio</a>
            <a href="https://blog.newdegeneration.xyz/">blog</a>
        </h1>
    </div>

    <svg id="filters">
        <defs>
            <filter id="threshold">
                <!-- Basically just a threshold effect - pixels with a high enough opacity are set to full opacity, and all other pixels are set to completely transparent. -->
                <feColorMatrix in="SourceGraphic"
                        type="matrix"
                        values="1 0 0 0 0
                                        0 1 0 0 0
                                        0 0 1 0 0
                                        0 0 0 255 -140" />
            </filter>
        </defs>
    </svg>
</header>
