    <!-- META TAGS -->
    <meta property="og:type" content="website" />
<!-- Lang -->
    <meta name="language" content="{{ .Site.Language.Lang | default "en" }}">
<!-- Tittle -->
    <title itemprop="name">{{ if .IsHome }}Portfolio | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta property="og:title" content="{{ if .IsHome }}Portfolio | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
    <meta name="twitter:title" content="{{ if .IsHome }}Portfolio | {{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
<!-- Description -->
    {{ with .Params.description }}
    <meta name="description" content="{{ . }}" />
    <meta itemprop="description" content="{{ . }}" />
    <meta property="og:description" content="{{ . }}" />
    <meta name="twitter:description" content="{{ . }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta itemprop="description" content="{{ .Site.Params.description }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}" />
  {{ end }}
<!-- Alternative Links for lang and self refrenccing? -->
    {{ if .IsTranslated }}
    {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
<!-- Region -->
    <meta name="geo.region" content="BG-SOF">
<!-- Images -->
{{ with .Page.Resources.GetMatch "hero.webp" }}
    {{ $heroImage := . | fingerprint }}
    <meta itemprop="image" content="{{ $heroImage | absURL }}" />
    <meta property="og:image" content="{{ $heroImage | absURL }}" />
    <meta name="twitter:image" content="{{ $heroImage | absURL }}" />
    <meta name="twitter:image:src" content="{{ $heroImage | absURL }}" />
{{ else }}
    <meta itemprop="image" content="/images/alt-hero.webp" />
    <meta property="og:image" content="/images/alt-hero.webp" />
    <meta name="twitter:image" content="/images/alt-hero.webp" />
    <meta name="twitter:image:src" content="/images/alt-hero.webp" />
{{ end }}



<!-- Crawler Validations -->
    <meta name="facebook-domain-verification" content="e32nq2r1prpftlqhvybiq5z9k3upia" />
    <meta name="yandex-verification" content="0953af09684196b5" />

