{{- define "main" -}}
 <div class="FourOhFourCentered">
  <a href="{{ "/" | relURL }}">
  <pre class="ascii-art">
               ▄         ▄   ▄▄▄▄▄▄▄▄▄   ▄         ▄              
              ▐░▌       ▐░▌ ▐░░░░░░░░░▌ ▐░▌       ▐░▌             
              ▐░▌       ▐░▌▐░█░█▀▀▀▀▀█░▌▐░▌       ▐░▌             
              ▐░▌       ▐░▌▐░▌▐░▌    ▐░▌▐░▌       ▐░▌             
              ▐░█▄▄▄▄▄▄▄█░▌▐░▌ ▐░▌   ▐░▌▐░█▄▄▄▄▄▄▄█░▌             
              ▐░░░░░░░░░░░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌             
               ▀▀▀▀▀▀▀▀▀█░▌▐░▌   ▐░▌ ▐░▌ ▀▀▀▀▀▀▀▀▀█░▌             
                        ▐░▌▐░▌    ▐░▌▐░▌          ▐░▌             
                        ▐░▌▐░█▄▄▄▄▄█░█░▌          ▐░▌             
                        ▐░▌ ▐░░░░░░░░░▌           ▐░▌             
                         ▀   ▀▀▀▀▀▀▀▀▀             ▀              
              ▄         ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄              
             ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌             
             ▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌             
             ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌             
             ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌       ▐░▌             
             ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌       ▐░▌             
              ▀▀▀▀█░█▀▀▀▀ ▐░▌       ▐░▌▐░▌       ▐░▌             
                  ▐░▌     ▐░▌       ▐░▌▐░▌       ▐░▌             
                  ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌             
                  ▐░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌             
                   ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀              
              ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄              
             ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌             
             ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀              
             ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌                       
             ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄              
             ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌             
             ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀█░█▀▀ ▐░█▀▀▀▀▀▀▀▀▀              
             ▐░▌       ▐░▌▐░▌     ▐░▌  ▐░▌                       
             ▐░▌       ▐░▌▐░▌      ▐░▌ ▐░█▄▄▄▄▄▄▄▄▄              
             ▐░▌       ▐░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌             
              ▀         ▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀              
     ▄            ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
    ▐░▌          ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
    ▐░▌          ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀ 
    ▐░▌          ▐░▌       ▐░▌▐░▌               ▐░▌     
    ▐░▌          ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄▄▄      ▐░▌     
    ▐░▌          ▐░▌       ▐░▌▐░░░░░░░░░░░▌     ▐░▌     
    ▐░▌          ▐░▌       ▐░▌ ▀▀▀▀▀▀▀▀▀█░▌     ▐░▌     
    ▐░▌          ▐░▌       ▐░▌          ▐░▌     ▐░▌     
    ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌ ▄▄▄▄▄▄▄▄▄█░▌     ▐░▌     
    ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌     
     ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀      
     </a>                                                      
   </pre>

 </div>
{{- end }}