  
{{ define "main" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Nikola Stoyanov - Artist Portfolio",
      "url": "{{ .Permalink }}",
      "description": "Portfolio website of contemporary artist Nikola Stoyanov, showcasing exhibitions and projects.",
      "isPartOf": {
        "@type": "WebSite",
        "name": "Nikola Stoyanov | Portfolio",
        "url": "{{ .Site.BaseURL }}",
        "publisher": {
          "@type": "Person",
          "name": "Nikola Stoyanov",
          "url": "{{ .Permalink }}",
          "sameAs": [
            {{ range $index, $url := .Site.Language.Params.sameAs }}
              {{ if $index }},{{ end }}"{{ $url }}"
            {{ end }}
          ]
        }
      }
    }
    </script>
    <body>
        <div class="video-container" id="randomVideoContainer"></div>
        {{/*  <div class="overlay" id="textOverlay">Nikola Stoyanov</div>  */}}
        <script src="{{ "/js/lander.js" | relURL }}"></script>
    </body>
{{ end }}

